################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/obj
/bin
*.user
/.vs
.DS_STORE